.header
  %h1
    Bysykkel stativer i Oslo
  %h2
    En oversikt over sykler og låser på stativene i Oslo over tid

.content
  .pure-u-1
    %table.pure-table.pure-table-striped{style: "width: 100%;"}
      %thead
        %tr
          %th Stativ
          %th Beskrivelse
          %th # låser
      %tbody.list
        - Station.each do |station|
          %tr
            %td
              %a{href: "/stations/#{station.station_id}"}
                = station.title
            %td
              = station.subtitle
            %td
              = station.number_of_locks
